/* General */
body{
    background-color: #f0f8ff;
}

/* Header, heading & paragraphs */
h1{
    margin: 10px 0 0 10px;
    color: coral;
    font-family: system-ui, -apple-system, Segoe UI, Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif coral;    
    font-size: 4em;
}
h2{
    margin-top: 50px;
    margin-left: 30px;
    font-size: 2em;
    font-family: system-ui, -apple-system, Segoe UI, Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;    
    
}
p, blockquote, figcaption{
    color: rgb(247, 146, 109);
    font-size: 1em;
    font-family: system-ui, -apple-system, Segoe UI, Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;    

}

li{
    color: rgb(247, 146, 109);
    font-size: 1.3em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    gap: 50px;
    padding: 20px 20px;
    text-transform: capitalize;
}

#topbar{
    display: block;
    font-family: system-ui, -apple-system, Segoe UI, Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
    background-color: whitesmoke;
    width: 100%;
    border-bottom: 1px solid rgb(245, 242, 242);
    border-radius: 10px;

}
.branding{
    display: grid;
    align-items: end;
    justify-items: end;
    position: relative;
    margin: 0 30px 30px 0;
    padding-top: 0;
    gap: 0.7em;
   
}
button{
    border: 1px solid coral;
    border-radius: 40px;
    background-color: #f0f8ff;
    color: black;
    font-size: 0.7em;
}

#cakes, #chops{
    margin-left: 60px;
    gap: 20px;
    align-items: center;
    justify-items: center;
}
#cakes img{
    display: inline-flex;
    flex-wrap: wrap;
    flex: 25%;
    gap: 10px;
    width: 150px;
    height:min-content;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
   
  }
  .wedding, .birthday{
    display: inline-flex;
    margin: 5px 30px 10px 30px;
    padding: 30px 30px 30px 30px;
    justify-content: center;
    gap: 0;
    background-color: white;
    border-bottom: 2px solid wheat;
    border-radius: 30px;
    box-shadow: 0 20px 20px rgba(0,0,0,0.2);
    
  }
  
  #chops img {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
    width: 150px;
    height:min-content;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    
}
.plater, .snacks{ 
    display: flex;
    flex-wrap: wrap;
    margin-left: 30px;
    margin-right: 30px;
    padding: 20px 150px;
    justify-content: center;
    gap: 5px;
    background-color: white;
    border-bottom: 2px solid wheat;
    border-radius: 30px;
    box-shadow: 0 20px 20px rgba(0,0,0,0.2);
    flex-direction: row;
    align-content: center;
    align-items: center;  

}
#review{ padding: 0.5em; margin-bottom: 300px;}
.review img{
    width: 65px; 
    height: 65px;
    margin: 30px 0 10px 30px;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
.review{
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
}
.comment{
    justify-items: center;
    margin: 30px 30px 100px 30px;
    background-color: white;
    border-bottom: 2px solid whitesmoke;
    border-radius: 30px;
    box-shadow: 0 20px 20px rgba(0,0,0,0.2);
    font-size: 1.5em;
    font-family: system-ui, -apple-system, Segoe UI, Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;

}

/* Footer */
#footer{
    align-items: center;
    justify-items: center;
}
@media only screen and (max-width: 768px) {
    body{
        background-color: aquamarine;
        font-size: 0.5rem;
        place-items: center;
        justify-items: center;
    }
    #topbar{
        display: flex;
        flex-wrap: wrap;
    }
    h1{
        font-size: 1rem;
    }
    .wedding, .birthday{
        display: grid;
    }
    #cakes img, #chops img, #review img{
        width: 100px;
        height: min-content;
    }
    h2{
        margin-left: 50px;
    }
    #chops{
        margin-left: 40px;
    }
    .platter{
        display: flex;
        background-position: content;
        font-size: smaller;
    }
    #review{
        display: grid;
        grid-auto-flow: row;
    }
}